
@{
    ViewData["Title"] = "SignIn";
    Layout = "~/Views/Shared/_LayoutTemplate.cshtml";
}
@model SportStore.Web.Models.SigninInput


<div class="account-area page-content mb-50">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="page-title">
                                        <h2>Login</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-md-6 col-xs-12 mb-30">
                                    <!-- Login Form s-->
                                    <form asp-controller="Auth" asp-action="SignIn" method="post" class="login-form">

                                        <div id="login-form">
                                            <h4 class="login-title">Login</h4>

                                            <div class="row">
                                                <div class="col-md-12 col-12 mb-20">
                                                    <label asp-for="Email"> Email Address*</label>
                                                    <input class="mb-0"  asp-for="Email" type="email" placeholder="Email Address">
                                                </div>
                                                <div class="col-12 mb-20">
                                                    <label asp-for="Password" >Password</label>
                                                    <input class="mb-0" asp-for="Password" type="password" placeholder="Password">
                                                    <span class="text-danger" asp-validation-for="Password"></span>
                                                </div>
                                                <div class="col-md-8">
                                                    <button  class="register-button mt-0">Login</button>
                                                    <div class="check-box d-inline-block ms-2 mt-10">
                                                        <input type="checkbox" asp-for="IsRemember" id="remember_me">
                                                        <label asp-for="IsRemember" for="remember_me">Remember me</label>
                                                    </div>
                                                </div>

                                                <div class="col-md-4 mt-10 text-start text-md-end">
                                                    <a href="#"> Forgotten pasward?</a>
                                                </div>

                                            </div>
                                        </div>

                                    </form>
                                </div>
                           
                            </div>
                        </div>
                    </div>