
@{
    ViewData["Title"] = "About";
}

<section class="page-content about-page-content mt-50 mb-50">
                        <div class="container">
                            <div class="row">
                                <div class="col-lg-12">
                                    <div class="page-title">
                                        <h2>About Us</h2>
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-4">
                                    <div class="about-single-block">
                                        <h2>OUR COMPANY</h2>
                                        <p class="bold-text">Lorem ipsum dolor sit amet conse ctetur adipisicing elit,
                                            sed do eiusmod tempor incididun.</p>
                                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                            veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.</p>

                                        <div class="featured-points">
                                            <ul>
                                                <li>Top quality products</li>
                                                <li>Best customer service</li>
                                                <li>30-days money back guarantee</li>
                                            </ul>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="about-single-block">
                                        <h2>OUR TEAM</h2>

                                        <div class="about-team-image">
                                            <img width="1114" height="742" src="assets/images/about-us.webp" class="img-fluid" alt="">
                                        </div>
                                        <p class="bold-text">Lorem set sint occaecat cupidatat non </p>
                                        <p>Lorem ipsum dolor sit amet conse ctetur adipisicing elit, sed do eiusmod
                                            tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
                                            veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing elit. </p>

                                    </div>
                                </div>
                                <div class="col-lg-4">
                                    <div class="about-single-block">
                                        <h2>TESTIMONIALS</h2>

                                        <div class="testimonial-container">
                                            <div class="single-testimonial">
                                                <p> <i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet conse
                                                    ctetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim
                                                    et dolore magna aliqua. Ut enim ad minim
                                                    veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.
                                                    ad minim. <i class="fa fa-quote-right"></i></p>
                                                <p class="customer-name">Lorem ipsum dolor sit</p>
                                            </div>

                                            <div class="single-testimonial">
                                                <p><i class="fa fa-quote-left"></i> Lorem ipsum dolor sit amet conse
                                                    ctetur adipisicing elit, sed do
                                                    eiusmod tempor incididunt ut labore et dolore et dolore magna
                                                    aliqua. Ut enim ad minim
                                                    veniam. Lorem ipsum dolor sit amet conse ctetur adipisicing elit.
                                                    magna aliqua. Ut enim
                                                    ad minim.<i class="fa fa-quote-right"></i> </p>
                                                <p class="customer-name">Lorem ipsum dolor sit</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </section>
